.create
	padding 30px
	&_title
		margin-bottom 30px
	&_block
		margin-bottom 30px
		display flex
		align-items center
		input
			border 1px solid alpha(#000, 0.1)
			padding: 10px
			min-width 500px
	&_label
		flex-basis 100px
		margin-right 30px
